body {
	background-color: white;
	
}

p {
    color: white;
}

a {
    color: #3399ff;
}

h1 {
	display: block;
	margin: 50px
	color: white;
}

h2 {
	color: white;
}

h3 {
	color: white;
}

ul {
	color: white;
}

ol {
	color: white;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	padding: 8px;
	background-color: #1e2f2f;
	text-decoration: none;
}

nav ul li a:hover {
	background-color:  #grey;
}

body {
	margin-left: 5%;
	margin-right: 5%;
    background-image: url("/images/background.jpg");
    background-repeat: repeat;
    background-position: right top;
    background-attachment: fixed;
}
	
}
