body {
	background-color: white;
	
}

p {
    color: white;
}

a {
    color: #3399ff;
}

h1 {
	color: white;
}

h2 {
	color: white;
}

h3 {
	color: white;
}

ul {
	color: white;
}

ol {
	color: white;
}

body {
	margin-left: 5%;
	margin-right: 5%;
    background-image: url("/images/background.jpg");
    background-repeat: repeat;
    background-position: right top;
    background-attachment: fixed;
}
	
}
