body {
	background-color: white;
	
}

p {
    color: black;
	border-style: dashed;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: red;
}

a {
    color: blue;
}

h1 {
	color: black;
}

h2 {
	color: black;
}
